* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Hanuman;
}

:root {
    --ease-start: cubic-bezier(1, -0.002, 0.377, 1.005);
    --ease-end: cubic-bezier(0.158, 0.623, 0.252, 0.999);
}

.top-bar {
   display: flex;
   flex-wrap: wrap;
   height: 44px;
   align-items: center;
   background-color: hsl(194 96% 40%);
}
.quit-button {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 5px;
   padding: 5px;
   background-color: hsl(356 67.8% 46.3%);
   border: 1px solid hsl(356 60% 70%);
   box-shadow: 
      0.3px 0.5px 0.7px hsl(356 60% 30% / 0.27),
      0.7px 1.5px 1.9px -0.8px hsl(356 60% 30% / 0.27),
      1.8px 3.6px 4.5px -1.7px hsl(356 60% 30% / 0.27),
      4.4px 8.8px 11.1px -2.5px hsl(356 60% 30% / 0.27);
   transition-property: box-shadow, background-color;
   transition-duration: 200ms;
   transition-timing-function: var(--ease-start);
}
.quit {
   background-image: url("../svg/x.svg");
   height: 24px;
   width: 24px;
   background-repeat: no-repeat;
}
.quit-button:hover {
   background-color: hsl(356 67.8% 42.3%);
   box-shadow: 
      0.4px 0.6px 0.8px hsl(356 60% 30% / 0.37),
      0.9px 1.7px 2.1px -0.6px hsl(356 60% 30% / 0.37),
      2.1px 3.9px 4.8px -1.4px hsl(356 60% 30% / 0.37),
      4.8px 9.2px 11.5px -2.1px hsl(356 60% 30% / 0.37);
   transition-timing-function: var(--ease-end);
}
.quit-button:active {
   background-color: hsl(356 60% 70%);
   border: 1px solid hsl(356 67.8% 42.3%);
   box-shadow: 
      0.3px 0.5px 0.7px hsl(356 60% 30% / 0.27),
      0.7px 1.5px 1.9px -0.8px hsl(356 60% 30% / 0.27),
      1.8px 3.6px 4.5px -1.7px hsl(356 60% 30% / 0.27),
      4.4px 8.8px 11.1px -2.5px hsl(356 60% 30% / 0.27);
}

.title {
   display: flex;
   flex-grow: 1;
   justify-content: space-evenly;
   background-color: hsl(194 96% 40%);
}

/* ------------------------------ top-buttons ------------------------------ */

.top-buttons {
   display: flex;
}

.button-group {
   display: flex;
   width: fit-content;
   height: fit-content;
}
.button-group button {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height: fit-content;
   background-color: green;
   border: none;
   border-radius: 5px;
   outline-offset: 4px;
   cursor: pointer;
   -webkit-tap-highlight-color: transparent;
}
.shadow {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 5px;
   background: hsl(356 40% 20% / 0.2);
   filter: blur(1px);
   transform: translateY(2px);
   transition: transform 300ms var(--ease-start);
}
.edge {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 5px;
   background: hsl(356 60% 30%);
   transition: transform 300ms var(--ease-start);
}
.front {
   display: block;
   position: relative;
   border-radius: 5px;
   padding: 5px 7px;
   background: hsl(356 67.8% 46.3%);
   transform: translateY(-3px);
   transition: transform 300ms var(--ease-start);
}

.button-group.right-side {
   position: relative;
   display: flex;
   gap: 10px;
   margin: 10px 15px 0 auto;
}
.button-group {
   margin: 10px 0 0 15px;
}
.style-menu {
   position: relative;
}
.button-group svg {
   width: 24px;
   height: 24px;
   fill: none;
   stroke: black;
   stroke-width: 2px;
   stroke-linecap: round;
   stroke-linejoin: round;
   transition: transform 300ms var(--ease-start);
}
@media (hover: hover) {
   button:hover .front {
      transform: translateY(-4px);
      transition-duration: 100ms;
      transition-timing-function: var(--ease-end);
   }
   button:hover .shadow {
      transform: translateY(3px);
      transition-duration: 100ms;
      transition-timing-function: var(--ease-end);
   }
   button:hover svg {
      transform: translateY(-1px);
      transition-timing-function: var(--ease-end);
   }
}

button:active .front {
   transform: translateY(-2px);
   transition-duration: 10ms;
}
button:active .shadow {
   transform: translateY(2px);
   transition-duration: 10ms;
}

.style-dropdown {
   position: absolute;
   display: flex;
   flex-direction: column;
   top: 50px;
   right: 0%;
   width: 150px;
   background-color: hsl(356 67.8% 46.3%);
   border: 2px solid hsl(356 67.8% 26.3%);
   border-radius: 5px;
   list-style-type: none;
   user-select: none;
}
.style-dropdown li {
   width: fit-content;
   margin:  5px 10px 5px auto;
   cursor: pointer;
}

/* --------------------------------- tallies -------------------------------- */

.tallies {
   display: grid;
   grid-template-columns: repeat(auto-fit, 200px);
   grid-auto-rows: 200px;
   gap: 100px;
   justify-content: center;
   margin: 10px;
}

.tally {
   width: 200px;
   height: 200px;
   background-color: hsl(23 80% 38%);
   border-radius: 5px;
}

.tally-title {
   background-color: hsl(194 96% 40%);
   border-radius: inherit;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
}

.tally.modern {
   border-radius: 10px;
}

.tally.classic {
   border-radius: 0px;
}




/* --------------------------------- @media --------------------------------- */

@media screen and (width >= 1500px) {
   .button-group.right-side {
      margin: 15px 25px 0 auto;
   }
   .button-group.left-side {
      margin: 15px 0 0 25px;
   }
}

::view-transition-old(root) {
   animation: page-out 300ms forwards 1;
}
::view-transition-new(root) {
   animation: page-in 300ms forwards 1;
}

@keyframes page-out {
   to {
      opacity: 0;
   }
}
@keyframes page-in {
   from {
      opacity: 0;
   }
}