* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Hanuman";
}
body {
   background-image: repeating-linear-gradient(
      0deg,
      hsl(var(--color) 80% 40% / 0.1),
      hsl(var(--color) 80% 40% / 0.1) 20px,
      hsl(var(--color) 80% 40% / 0.15) 15px,
      hsl(var(--color) 80% 40% / 0.15) 25px
   );
}
:root {
    --ease-start: cubic-bezier(1, -0.002, 0.377, 1.005);
    --ease-end: cubic-bezier(.3, .7, .4, 1.5);
}

@font-face {
   font-family: "Hanuman";
   src: url("../fonts/Hanuman-Variable.ttf") format("truetype");
}
@font-face {
   font-family: "Static-Bold-Hanuman";
   src: url("../fonts/Hanuman-Bold.ttf") format("truetype");
}

.title {
   width: fit-content;
   margin: 30px auto;
   text-align: center;
   font-family: "Static-Bold-Hanuman";
   line-height: 55px;
   font-size: 64px;
   font-weight: 900;
   color: hsl(0 0% 100% / 0);
   transition: color 1s;
}
.title.low-shadow {
   text-shadow:
      0.0047em 0.0078em 0.0109em hsl(var(--text-color) 100% 50% / 0.34),
      0.0063em 0.0125em 0.0156em hsl(var(--text-color) 100% 50% / 0.34),
      0.0156em 0.0313em 0.0391em hsl(var(--text-color) 100% 50% / 0.34);
}
.title.medium-shadow {
   text-shadow:
      0.0047em 0.0078em 0.0109em hsl(var(--text-color) 100% 50% / 0.36),
      0.0125em 0.025em 0.0313em hsl(var(--text-color) 100% 50% / 0.36),
      0.0328em 0.0641em 0.0813em hsl(var(--text-color) 100% 50% / 0.36),
      0.0781em 0.1563em 0.1969em hsl(var(--text-color) 100% 50% / 0.36);
}
.title.thin-color-border {
   -webkit-text-stroke: 1px hsl(var(--text-color) 100% 50%);
}
.title.thick-color-border {
   -webkit-text-stroke: 3px hsl(var(--text-color) 100% 50%);
}



section.main {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 170px);
    background-color: hsl(192 70% 15% / 0.8);
}

div.content {
   display: flex;
   justify-content: center;
   flex: 1;
   gap: 10px;
   margin: 30px 60px;
}

div.content .container {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   flex: 1;
   justify-content: space-around;
   align-items: center;
   max-width: 600px;
   min-width: 200px;
   height: fit-content;
   padding: 10px 15px;
   border: 2px solid black;
   border-radius: 10px;
}
div.content .container::before {
   content: "";
   position: absolute;
   inset: 0;
   top: 2px;
   right: 2px;
   bottom: 2px;
   left: 2px;
   border: 1px solid hsl(var(--color) 80% 40% / 0.6);
   border-radius: 10px;
   pointer-events: none;
}

#mini-calculator .calculator {
   zoom: 0.5;
}

div.content .container a {
   text-decoration: none;
}

div.content .tally {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: aliceblue;
   height: 50px;
   width: 100px;
   border: solid 2px black;
   border-radius: 10px;
}



@media screen and (width <= 550px) {
   div.content .calculator {
      flex-basis: 100%
   }
   .title {
      color: hsl(var(--text-color) 100% 50% / 0.5);
   }
   .title.low-shadow {
      text-shadow:
         0.0024em 0.0039em 0.0055em hsl(var(--text-color) 100% 50% / 0.17),
         0.0032em 0.0063em 0.0078em hsl(var(--text-color) 100% 50% / 0.17),
         0.0078em 0.0157em 0.0196em hsl(var(--text-color) 100% 50% / 0.17);
   }
   .title.medium-shadow {
      text-shadow:
         0.0024em 0.0039em 0.0055em hsl(var(--text-color) 100% 50% / 0.18),
         0.0063em 0.0125em 0.0157em hsl(var(--text-color) 100% 50% / 0.18),
         0.0164em 0.0321em 0.0407em hsl(var(--text-color) 100% 50% / 0.18),
         0.0391em 0.0782em 0.0985em hsl(var(--text-color) 100% 50% / 0.18);
   }
}

@view-transition { navigation: auto; }
::view-transition-old(root) {
   animation: page-out 300ms forwards 1;
}
::view-transition-new(root) {
  animation: page-in 300ms forwards 1;
}
::view-transition-group(calculator) {
   transition-timing-function: var(--ease-start);
}
@keyframes page-out { to { opacity: 0; } }
@keyframes page-in { from { opacity: 0; } }
#mini-calculator .calculator { view-transition-name: calculator; }
.full.calculator { view-transition-name: calculator; }